.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.container h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: rgb(45, 45, 45);
}

.container h2 {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(45, 45, 45);
  font-weight: 400;
  text-wrap: balance;
}

.container div {
  text-align: left;
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.socialPill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 2px;
  gap: 15px;
}

figure img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px rgba(52, 52, 52, 0.385);
}

.icon1 {
  width: 30px;
  height: 30px;
  color: rgb(45, 45, 45);
}

.icon {
  width: 25px;
  height: 25px;
  color: rgb(52, 52, 52);
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.1);
    color: rgb(255, 138, 42);
  }
}

.print {
  display: flex;
  margin: 0;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  color: rgb(45, 45, 45);
  font-weight: 500;
  font-size: 16px;
  display: none;
}

@media print {
  .print {
    display: flex;
  }

  .socialPill {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  figure img {
    border-radius: 100%;
  }

  .container div {
    text-align: center;
  }

  .socialPill {
    align-items: center;
    justify-content: center;
  }

  .location {
    justify-content: center;
  }
}
