.container {
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 90px;
  gap: 30px;
}

